.register__main {
    display: flex;
    flex-direction: column;
    color: rgb(39, 37, 37);
    background-color: rgb(255, 255, 255);
}
.register__main .background {
    position: absolute;
    width: 100%;
    background-color: #3f51b5;
    clip-path: polygon(51% 0, 0 21%, 0 0);
    z-index: -2;
}
.register__main .register__redirect {
    text-align: right;
    padding: 10px;
    color: lightslategrey;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.register__main .register__redirect>a {
    text-decoration: none;
    color: #3f51b5;
    text-decoration: none;
    align-items: center;
    display: flex;
    margin-left: 5px;
}

.register__main .title {
    display: flex;
    justify-content: center;
}

.register__main .register__mainTitle {
    position: relative;
    margin-top: 4em;
}

.register__main .register__mainTitle::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: rgb(144, 150, 155);
    left: 0;
    bottom: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.register__mainTitle:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em auto;
}

.form__input {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px auto;
    padding: 5px 10px;
    transition: all 250ms ease-in-out;
}

.form__input .MuiSvgIcon-colorPrimary {
    color: #d3d3d3;
}

.form__input:hover .MuiSvgIcon-colorPrimary {
    color: rgb(62, 135, 245) !important;
}

.form__input input {
    outline: none;
    border: none;
    width: 100%;
    flex: 1;
    padding-left: 15px;
    line-height: 1.3rem;
    font-weight: 500;
    background-color: transparent;
}

.form__input:hover {
    border: 1px solid rgb(62, 135, 245);
    box-shadow: 1px 1px 3px rgb(62, 135, 245);
    transition: border 250ms ease-in-out;
}

.login__options {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .form__button {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #3f51b5;
    color: whitesmoke;
    transition: background-color 350ms ease-in-out;
}

.form__button:hover {
    background-color: #2b3c9b;
    color: whitesmoke;
}
@media only screen and (max-width: 526px) {
    .register__main {
        overflow: hidden;
        z-index: 2;
    }
}